@keyframes pulsing {
	0% {
		color: white;
	}
	50% {
		color: #4682B4;
	}
	100% {
		color: white;
	}
}



body {
	font-family: 'Poiret One', cursive;
}

hr {
	background-color: white;
	color: white;
}

.container-fluid {
	-webkit-transition: all 0.2s;
	/*	background: linear-gradient(45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 52%), linear-gradient(-45deg, rgba(0, 0, 0, 0) 48%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0) 52%);*/
	background-color: lightgray;
	background-image: radial-gradient(ellipse farthest-corner at right bottom,  lightgray 0%, #708090 50%, whitesmoke 100%);*/
}

.contacts {
/*	background-image: url(backgrounds/bg.jpg);*/
	background-color: rgba(0,0,0,0.5);
	color: white;
}

.contacts li {
	list-style: square;
	text-align: left;
	font-size: 20px;
	font-weight: 400;
	line-height: 25px;
}

.contacts p {
	text-align: left;
	font-size: 23px;
	font-weight: 400;
	line-height: 28px;
}

.contacts span {
	font-weight: 600;
}

.contacts a {
	color: white;
	-webkit-transition: all 0.2s;
	animation: pulsing 4s infinite;
	font-size: 38px;
}

.carousel-inner {
	-webkit-transition: all 0.2s;
	
}

.carousel-inner:hover {
	
}

.contacts a:hover {
	text-decoration: none;
	animation: pulsing 2s infinite;
	font-weight: 700;
}

.portfolio {
	padding: 0;
}

h1 {
	font-family: 'Dancing Script', cursive;
	text-align: center;
	font-size: 70px;
	font-weight: 400;
	line-height: 80px;
	text-shadow: 8px 10px 7px #121112;
}

h2 {
	font-family: 'Dancing Script', cursive;
	text-align: center;
	font-size: 40px;
	font-weight: 400;
	line-height: 50px;
	margin-bottom: 30px;
}

h1:hover,
h2:hover,
p:hover,
li:hover {
	cursor: default;
}

p,
span,
li {
	line-height: 30px;
}

.center {
	padding: 40px;
}

.gllacy {
	margin-bottom: 0px;
}

.footer {
	text-align: center;
	margin: 0px;
	background-color: rgba(0,0,0,0.5);
}

.lang {
	text-align: left;
	font-size: 23px;
	font-weight: 400;
	line-height: 28px;
}

.footer img {
	width: 50px;
	height: 50px;
	margin: 10px;
	filter:grayscale(70%);
	-webkit-transition: all 0.3s;
	transform: scale(0.8)
}

.footer img:hover {
	filter: none;
	transform: scale(1);
	cursor: pointer;
}
